@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-weight: normal;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  color: #FC5A24; 
}
