@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
  }
}
