@tailwind base;
@tailwind components;
@tailwind utilities;

/* tools */
.debug {
  outline: 1px solid red;
}

/* hero */
.hero {
  height: 1000px;
  background-image: url(../assets/hero-bg.png);
  background-size: contain;
  background-position-x: center;
}

/* profile */
.profile {
  height: 480px;
}
.profile .icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -70px;
  margin-bottom: 20px;
}
.profile .card {
  height: 420px;
  max-width: 420px;
  background-repeat: no-repeat;
  padding: 20px 80px;
}
.profile .icon-1{
  background-image: url(../assets/profile-avatars.png);
}
.profile .icon-2{
  background-image: url(../assets/profile-katana.png);
}
.profile .icon-3{
  background-image: url(../assets/profile-blender.png);
  background-size: 75%;
}
.profile .card-1 {
  background-image: url(../assets/profile-bg-1.png);
  background-position: right;
}
.profile .card-2 {
  background-image: url(../assets/profile-bg-2.png);
  background-position: center;
}
.profile .card-3 {
  background-image: url(../assets/profile-bg-3.png);
  background-position: left;
}
/* profile ends */

/* grids */
.avatar-grids {
  padding-top: 200px;
}
.avatar-grids-top {
  background-image: url(../assets/bg-yellow-top.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: bottom;
  height: 300px;
  width: 100%;
}
.avatar-grids-bottom {
  background-image: url(../assets/bg-yellow-bottom.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: top;
  height: 160px;
  width: 100%;
}
.avatar-photo {
  height: 220px;
  width: 220px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.photo-1 {
  background-image: url(../assets/avatars/avatar-astronaut.png);
}

/* promotion */
.promotion-banner {
  background-image: url(../assets/promotion-avatars.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.promotion-card {
  background-image: url(../assets/promotion-orange.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.promotion-guys {
  background-image: url(../assets/promotion-guys.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* contact */
.contact-gradient {
  background: rgb(252,101,36);
  background: linear-gradient(rgba(252,101,36,1) 0%, rgba(231,38,3,1) 100%);
  box-shadow: 0px -10px 40px 0px #F6531B80;
}

.contact-button {
  box-shadow: 0px 4px 40px 0px #76220580;
}


/* textures */

.bg-texture-flower {
  background-image: url(../assets/texture/flower-texture.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-50-texture-grids {
  background-image: url(../assets/texture/50-texture.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: center;
  background-position-y: top;
}

.bg-shock-texture {
  background-image: url(../assets/texture/shock-texture.png);
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  margin-top: -300px;
  padding-top: 300px;
  margin-bottom: -300px;
  padding-bottom: 300px;
}

.bg-texture-wavy {
  background-image: url(../assets/texture/wavy-texture.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -300px;
  padding-top: 300px;
  margin-bottom: -300px;
  padding-bottom: 300px;
}



/* specific to 2nd page */
.hero-warped {
  background-image: url(../assets/hero-warped.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height:462px;
  width: 100%;
  margin-bottom: -230px;
}

.bg-50-texture-hero {
  background-image: url(../assets/texture/50-texture.png);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position-x: center;
  background-position-y: -40px;
}

.bg-texture-wavy-grids {
  background-image: url(../assets/texture/wavy-texture.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -300px;
  padding-top: 300px;
  margin-bottom: -300px;
  padding-bottom: 300px;
}
